*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 50px;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 48px;
}

header {
    background-color: black;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header nav a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    transition: 0.4s ease;
}

header nav a:hover {
    color: white;
    background-color: black;
    padding: 5px;
    border: 1px solid white;
    transform: scale(1.1);
}

header nav p{
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    transition: 0.4s ease;
}

header nav p:hover {
    color: white;
    background-color: black;
    padding: 5px;
    border: 1px solid white;
    transform: scale(1.1);
}

#logout-button{
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    transition: 0.4s ease;
    cursor: pointer;
}

#logout-button:hover {
    color: white;
    background-color: black;
    padding: 5px;
    border: 1px solid white;
    transform: scale(1.1);
}

/* Catégories */

.categorie-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    width: 100%;
    min-height: 80vh;
}

.categorie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border: 5px solid rgba(240, 240, 240);
    gap: 10px;
}

.categorie img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.categorie a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: black;
    padding: 10px;
    border: 1px solid black;
    transition: 0.4s ease;
}

.categorie a:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
}

/* Produits */

.product-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100vh;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border: 5px solid rgba(240, 240, 240);
    gap: 10px;
}

.product img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.product a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: black;
    padding: 10px;
    border: 1px solid black;
    transition: 0.4s ease;
}

.product a:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
}

/* Login */

#login-form {
    background-color: white;
    width: min-content;
    padding: 100px;
    border: 5px solid rgba(240, 240, 240);
    text-align: center;
    margin: auto;
}

#login-form input {
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 16px;
}

#login-form input::placeholder{
    text-align: center;
    font-size: 16px;
}

#login-form button {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    transition: 0.4s ease;
    margin-top: 25px;
}

#login-form button:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
    transform: scale(1.1);
}
